body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0070c0;
    color: white;
    text-align: left;
    padding: 10px 0;
    font-size: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    padding: 8px;
    margin-right: 10px;
    position: center;
    width: 500px;
}

main {
    display: flex;
}

#sidebar {
    width: 20%;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 2px solid #ccc;
}

#products {
    width: 80%;
    padding: 180px;
}

footer {
    background-color: #0070c0;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


